* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.paragraph1 {
    color: red;
    white-space: nowrap;
}

.paragraph2 {
    text-shadow: 5px -5px 3px orange;
}

.paragraph3 {
    color: red;
}

.block1 {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.block2 {
    text-shadow: 5px -5px 3px orange;
    letter-spacing: 30px;
    word-spacing: 50px;
}

p#second {
    font-style: italic;
    font-weight: bold;
}